.container{
    text-align: center;
}
.quizzical{
    width: 130px;
}
.title{
    font-family: 'Karla', sans-serif;
    font-size: 2.3rem;
    color: #293264;
}
.moto{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #293264;
}
.startQuizBtn{
    cursor: pointer;
    margin-top: 25px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    border: none;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    padding: 20px 70px;
}
.startQuizBtn:active{
    background-color: #424e8b;
    box-shadow: inset 3px 3px 10px rgba(0,0,0,0.26);
}
